{
    "plugins": [
        [
            "component",
            {
                "libraryName": "element-ui",
                "styleLibraryName": "~resources/css/theme"
            }
        ]
    ]
}