/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/docs/api-docs.json
/storage/temp
/vendor
/public/myAdmin
.env
.rnd
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

/public/mix-manifest.json
/public/[0-9]*.js
/public/js/app.js
/public/css
/public/svg
/public/fonts
/public/images
/public/js
/public/admin
/public/tenant
/public/vendors*
/public/*.js

/resources/js/lang/i18n/de.js
/resources/js/lang/i18n/en.js
/resources/js/lang/i18n/fr.js
/resources/js/lang/i18n/it.js

.DS_Store
.idea/
package-lock.json
