@import url('https://fonts.googleapis.com/css?family=Montserrat:100,300,400,400i,700,900');
// @import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css');
@import url('https://cdn.linearicons.com/free/1.0.0/icon-font.min.css');
@import url('https://cdn.jsdelivr.net/themify-icons/0.1.2/css/themify-icons.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.9/css/weather-icons.min.css');
// body,
// html {
//     overflow: hidden;
// }
body,
html,
#app {
    width: 100%;
    height: 100%;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    background: #fff;
    color: lighten(#000, 32%);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 14px;
    line-height: 1.36;
    font-weight: 400;
    font-family: Roboto;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    -webkit-font-smoothing: subpixel-antialiased;
}

.mt15 {
    margin-top: 15px;
}

.el-card {
    border-radius: 6px;
    &.is-always-shadow {
        box-shadow: 0 1px 3px transparentize(#000, .88), 0 1px 2px transparentize(#000, .76) !important;
    }
}

.el-card {
    .el-divider__text.is-left {
        left: -20px;
    }
}

.el-tab-pane {
    .el-divider__text.is-left {
        left: -20px;
    }
}

.admin-layout {
    .heading {
        height: 50px;
        background: #ebeef5;
        padding: 20px;
        margin: 0;
    }
    .comments-header {
        margin: 0;
        font-size: 18px;
    }
    .el-form--label-top .el-form-item__label {
        padding: 0;
    }
}

.crud-view {
    padding: 0 20px;
}

.dashboard-tabpanel .el-tabs--border-card > .el-tabs__header .el-tabs__item{
    flex-basis: 0;
    -webkit-box-flex: 1;    
    flex-grow: 1;
    text-align: center;
    color: #495057;    
    cursor: pointer;    
    font-weight:400;    
    -webkit-box-align: center;
    align-items: center;
    text-align: center;
    &.is-active, &:hover{
        background: #3f6ad8;
        border-radius: 120px;
        border-right-color: none;
        border-left-color: none;
        -ms-flex-positive: 1;
        color: #fff !important;
        transition: background-color .3s ease,color .3s ease !important;
    }
}


.dashboard-tabpanel .el-tabs__nav {
    float: none;
    text-align: center;
    border-radius: 120px;
    background: #fff;
    padding: .75rem;    
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    margin: 1.5rem 15%
}

.dashboard-tabpanel .el-tabs--border-card{
    background:none;
}

.dashboard-tabpanel .el-tabs--border-card{
    border: none;
    background: none;
    box-shadow: none;
}
.dashboard-tabpanel .el-tabs--border-card > .el-tabs__header{
    border-bottom: none !important;
    background: none !important;
    
}
/*
.dashboard-tabpanel .tabs-rounded-lg {
    border-radius: 120px;
    background: #fff;
    padding: .75rem;
    margin-bottom: 1.5rem;
    display: flex;
    flex-wrap: wrap;
}

.dashboard-tabpanel .nav-item {
    flex-basis: 0;
    -webkit-box-flex: 1;    
    flex-grow: 1;
    text-align: center;
}
.dashboard-tabpanel .nav-link{
    position: relative;
    margin: 0 .75rem 0 0;
    font-weight:400;    
    margin-bottom: 0;
    font-size: 1.175rem;
    padding: .75rem .5rem;
    cursor: pointer;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    transition: background-color .3s ease,color .3s ease;
}
*/