@font-face {
  font-family: 'fontello';
  src: url('~fonts/fontello.eot?84425231');
  src: url('~fonts/fontello.eot?84425231#iefix') format('embedded-opentype'),
       url('~fonts/fontello.woff2?84425231') format('woff2'),
       url('~fonts/fontello.woff?84425231') format('woff'),
       url('~fonts/fontello.ttf?84425231') format('truetype'),
       url('~fonts/fontello.svg?84425231#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('~fonts/fontello.svg?84425231#fontello') format('svg');
  }
}
*/

/* THIS STAYS INTACT! Do not replace it. */
[class^="icon-"]:before, [class*=" icon-"]:before {
  width: 1em;
  display: inline-block;
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  text-decoration: none;
  text-align: center;

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.animate-spin {
    animation: spin 2s infinite linear;
    display: inline-block;
}

@keyframes spin {
  0% {
        transform: rotate(0deg);
  }

  100% {
        transform: rotate(359deg);
    }
}

.icon-home:before { content: '\e800'; } /* '' */
.icon-gauge-1:before { content: '\e801'; } /* '' */
.icon-user:before { content: '\e802'; } /* '' */
.icon-th:before { content: '\e803'; } /* '' */
.icon-th-list:before { content: '\e804'; } /* '' */
.icon-basket:before { content: '\e805'; } /* '' */
.icon-megaphone-1:before { content: '\e806'; } /* '' */
.icon-wallet:before { content: '\e807'; } /* '' */
.icon-water:before { content: '\e808'; } /* '' */
.icon-cog:before { content: '\e809'; } /* '' */
.icon-thumbs-up:before { content: '\e80a'; } /* '' */
.icon-thumbs-down:before { content: '\e80b'; } /* '' */
.icon-chat:before { content: '\e80c'; } /* '' */
.icon-picture:before { content: '\e80d'; } /* '' */
.icon-logout:before { content: '\e80e'; } /* '' */
.icon-pencil:before { content: '\e80f'; } /* '' */
.icon-trash-empty:before { content: '\e810'; } /* '' */
.icon-ok-circled2:before { content: '\e811'; } /* '' */
.icon-contacts:before { content: '\e812'; } /* '' */
.icon-down:before { content: '\e813'; } /* '' */
.icon-left:before { content: '\e814'; } /* '' */
.icon-right:before { content: '\e815'; } /* '' */
.icon-up:before { content: '\e816'; } /* '' */
.icon-doc-text-1:before { content: '\e817'; } /* '' */
.icon-plus:before { content: '\e818'; } /* '' */
.icon-chart-bar:before { content: '\e819'; } /* '' */
.icon-group:before { content: '\e81a'; } /* '' */
.icon-adult:before { content: '\e81b'; } /* '' */
.icon-tools:before { content: '\e81c'; } /* '' */
.icon-address:before { content: '\e81d'; } /* '' */
.icon-location:before { content: '\e81e'; } /* '' */
.icon-eye:before { content: '\e81f'; } /* '' */
.icon-eye-off:before { content: '\e820'; } /* '' */
.icon-unit:before { content: '\e821'; } /* '' */
.icon-info-circled:before { content: '\e822'; } /* '' */
.icon-vcard:before { content: '\e823'; } /* '' */
.icon-cancel-circled2:before { content: '\e824'; } /* '' */
.icon-picture-1:before { content: '\e825'; } /* '' */
.icon-commerical-building:before { content: '\e826'; } /* '' */
.icon-menu-outline:before { content: '\e827'; } /* '' */
.icon-menu:before { content: '\e828'; } /* '' */
.icon-doc:before { content: '\e829'; } /* '' */
.icon-zoom-out:before { content: '\e82a'; } /* '' */
.icon-zoom-out-outline:before { content: '\e82b'; } /* '' */
.icon-zoom-in:before { content: '\e82c'; } /* '' */
.icon-zoom-in-outline:before { content: '\e82d'; } /* '' */
.icon-lock:before { content: '\e82e'; } /* '' */
.icon-lock-open:before { content: '\e82f'; } /* '' */
.icon-stopwatch:before { content: '\e830'; } /* '' */
.icon-ok-outline:before { content: '\e831'; } /* '' */
.icon-ok:before { content: '\e832'; } /* '' */
.icon-email:before { content: '\e833'; } /* '' */
.icon-heart:before { content: '\e834'; } /* '' */
.icon-heart-empty:before { content: '\e835'; } /* '' */
.icon-refresh:before { content: '\e836'; } /* '' */
.icon-bell:before { content: '\e837'; } /* '' */
.icon-chart:before { content: '\e838'; } /* '' */
.icon-dot:before { content: '\e839'; } /* '' */
.icon-link:before { content: '\e83a'; } /* '' */
.icon-spin3:before { content: '\e83b'; } /* '' */
.icon-spin5:before { content: '\e83c'; } /* '' */
.icon-spin4:before { content: '\e83d'; } /* '' */
.icon-spin6:before { content: '\e83e'; } /* '' */
.icon-cancel:before { content: '\e83f'; } /* '' */
.icon-upload-cloud:before { content: '\f014'; } /* '' */
.icon-upload:before { content: '\f02f'; } /* '' */
.icon-users:before { content: '\f064'; } /* '' */
.icon-cancel-circled:before { content: '\f06e'; } /* '' */
.icon-filter:before { content: '\f0b0'; } /* '' */
.icon-linkedin:before { content: '\f0e1'; } /* '' */
.icon-chat-empty:before { content: '\f0e6'; } /* '' */
.icon-bell-alt:before { content: '\f0f3'; } /* '' */
.icon-doc-text:before { content: '\f0f6'; } /* '' */
.icon-eraser:before { content: '\f12d'; } /* '' */
.icon-ellipsis:before { content: '\f141'; } /* '' */
.icon-ellipsis-vert:before { content: '\f142'; } /* '' */
.icon-d:before { content: '\f164'; } /* '' */
.icon-thumbs-down-alt:before { content: '\f165'; } /* '' */
.icon-xing:before { content: '\f168'; } /* '' */
.icon-left-1:before { content: '\f177'; } /* '' */
.icon-right-1:before { content: '\f178'; } /* '' */
.icon-dot-circled:before { content: '\f192'; } /* '' */
.icon-language:before { content: '\f1ab'; } /* '' */
.icon-file-image:before { content: '\f1c5'; } /* '' */
.icon-paper-plane:before { content: '\f1d8'; } /* '' */
.icon-share:before { content: '\f1e0'; } /* '' */
.icon-slideshare:before { content: '\f1e7'; } /* '' */
.icon-handshake-o:before { content: '\f2b5'; } /* '' */
.icon-search:before { content: '\f50d'; } /* '' */